@font-face {
    font-family: Futura PT Demi; /* Имя шрифта */
    src: url(/fonts/FuturaPT-Demi.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Futura PT Medium; /* Имя шрифта */
    src: url(/fonts/FuturaPT-Medium.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Futura PT Book; /* Имя шрифта */
    src: url(/fonts/FuturaPT-Book.ttf); /* Путь к файлу со шрифтом */
}
body {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    font-family: "Futura PT",serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align-last: left;
    color: black;
    align-items: center;
}

header {
  background-color: black;
  border-radius: 5px;
}

.header__list {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: white;
}

.header__item {
  padding: 15px;
  list-style-type: none;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}
span {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    font-size: 24px;
    width: 600;
}
h2 {
    font-size: 24px;
    width: 600;
}
h3 {
    font-size: 24px;
    width: 600;
}
h4 {
    font-size: 24px;
    width: 600;
}
p {
    font-weight: 400;
}
span
/* что - то важное в тексте */ 
{
font-weight: 600;
}
.quote 
/* цитата */
{
font-style: italic;
}

.flex {
  display: flex;
  justify-content:space-between;
}

.quote {
  max-width: 500px;
}

@media(max-width:950px) {
  header {
    background-color: #fff;
  }
  .header__list {
    flex-wrap: wrap;
  }
  .header a {
    color: black;
    text-decoration: underline;
  }
  .flex {
    display: block;
    padding: 50px;
    paddng: 50px;
  }
}
