@font-face {
    font-family: Futura PT Demi; /* Имя шрифта */
    src: url(/fonts/FuturaPT-Demi.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Futura PT Medium; /* Имя шрифта */
    src: url(/fonts/FuturaPT-Medium.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Futura PT Book; /* Имя шрифта */
    src: url(/fonts/FuturaPT-Book.ttf); /* Путь к файлу со шрифтом */
}
body {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    font-family: "Futura PT",serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align-last: left;
    color: #303b44;
    align-items: center;
}


header {
  background-color: #303b44;
  border-radius: 5px;
}

.header__list {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: white;
}

.header__item {
  padding: 15px;
  list-style-type: none;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}
span {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    font-size: 24px;
    width: 600;
}
h2 {
    font-size: 24px;
    width: 600;
}
h3 {
    font-size: 24px;
    width: 600;
}
h4 {
    font-size: 24px;
    width: 600;
}
p {
    font-weight: 400;
} 
span {
  font-weight: 600;
  padding: 5px;
  background-color: #e0f1ff;
}
.quote 
/* цитата */
{
font-style: italic;
}

.flex {
  display: flex;
  justify-content:space-between;
}

.quote {
  max-width: 500px;
}
.gif {
  margin-left: auto;
  margin-right: auto;
}

.wises-img {
  margin-left: auto;
  margin-right: auto;
}

.manutius-img {
  margin-left: auto;
  margin-right: auto;
}

.red-margin-img {
  margin-left: auto;
  margin-right: auto;
}

@media(max-width:950px) {
  body {
    padding-left: 10px;
    margin-left: 0px;
  }
  .wises-img, .manutius-img, .red-margin-img, .gif {
    height: 150px;
    width: auto;
    margin-left: 0px;
  }
  header {
    background-color: #fff;
  }
  .header__list {
    border: 3px solid #303b44;
    flex-wrap: wrap;
  }
  .header a {
    color: #303b44;
  }
  .flex {
    display: block;
  }
  .flex img {
    width: 150px;
    height: auto;
  }
}